.headerContainer {
  text-align: center;
  height: 4.13rem;
  padding-bottom: 0.63rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.625rem;
}

.headerContent {
  font-family: 'Samsung-Bold';
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .headerContent {
    font-size: 2rem;
  }
}
