@font-face {
  font-family: "SamsungOne";
  src: local("SamsungOne-400.ttf"),
    url("./fonts/SamsungOne-400.ttf") format("truetype");
}


body {
  margin: 0;
  font-family: 'SamsungOne';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
